/* 
Theme Name: UCANR V2
Description: Theme for UCANR using Bootstrap 5 with Sass
*/

// import files
@import "anr-bootstrap-2021/scss/anr-bootstrap.scss";
@import "components/base.scss";

// footer
footer {
    .view-content {
        a {
            @extend .text-white;
        }

        ul {
            list-style-type: none;
        }
    }

    .region-footer-fifth {
        @extend .small;

        h2 {
            font-size: 1rem;
            font-family: $font-family-sans-serif;
        }

        a {
            font-weight: normal;
        }

        .views-field {
            padding-bottom: .5em;
        }

        ul {
            padding-left: 0;
            
            ul {
                padding-left: 1em;
            }
        }

        .block {
            flex: 1 0 0;
            @extend .pe-4;
        }
    }
}

// views: more links
.more-link {
    @extend .border-top;
    @extend .mt-5;
    @extend .pt-4;

    a {
        @extend .btn;
        @extend .btn-pill;
        @extend .btn-anr;
    }
}

// images
.ratio .view-image {
    position: unset;
}

.ratio .field img, .ratio .view-image img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-style-thumbnail {
    max-width: 100px;
}

.field--name-body img {
    max-width: 100%;
}