{% extends "views-view--carousel.html.twig" %}

{% block header %}
    {% if rows %}
        <div class="d-none d-lg-block bg-anr pb-30 mb-n30"></div>
    {% endif %}
{% endblock %}
{% block button_left_classes %}align-items-end pb-6{% endblock %}
{% block button_right_classes %}align-items-end pb-6{% endblock %}