{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% extends "views-view.html.twig" %}

{%
  set classes2 = [
    'container',
    'carousel',
    'slide',
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{% set carouselID = 'carouselView' ~ id %}

{% block classes %}{{ attributes.addClass(classes2).setAttribute('id', carouselID).setAttribute('data-bs-ride', 'false').setAttribute('data-bs-interval', 'false') }}{% endblock %}
{% block content_classes %}carousel-inner{% endblock %}

{% block pager %}
    {% if rows.0['#rows']|length > 1 %}
        <button class="carousel-control-prev carousel-control-ext border-0 bg-transparent {% block button_left_classes %}{% endblock %}" type="button"  data-bs-slide="prev" data-bs-target="#{{ carouselID}}">
            <span class="rounded-icon rounded-icon-lg bg-tan text-red">
                <span class="iconify" data-icon="mdi-arrow-left-thick"></span>
            </span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next carousel-control-ext border-0 bg-transparent {% block button_right_classes %}{% endblock %}" type="button"  data-bs-slide="next" data-bs-target="#{{ carouselID}}">
            <span class="rounded-icon rounded-icon-lg bg-tan text-red">
                <span class="iconify" data-icon="mdi-arrow-right-thick"></span>
            </span>
            <span class="visually-hidden">Next</span>
        </button>
    {% endif %}
{% endblock %}
