{% extends "node--card.html.twig" %}

{%
  set classes2 = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    'card',
    'border-0',
    'bg-transparent',
    'h-100'
  ]
%}

{% block classes %}{{ attributes.addClass(classes2) }}{% endblock %}

{% block content %}
    <div class="text-center h-100 d-flex flex-column justify-content-between">
        <div>
            <div class="text-red small my-4">
                {% block subtitle %}
                    {{ node.created.value|date("d M Y") }}
                    {# content.field_location #}
                {% endblock %}
            </div>
            <h4>{{ label }}</h4>
        </div>
        <p class="pt-4"><a href="{{ url('entity.node.canonical', { 'node': node.id() }) }}">Learn more <span class="iconify" data-icon="mdi-arrow-right-thick"></span></a></p>
    </div>
{% endblock %}