{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    'card',
    'border-0',
    'bg-transparent'
  ]
%}


<div{% block classes %}{{ attributes.addClass(classes) }}{% endblock %}>
    <a href="{{ url }}">
        {% block image %}
            {% set image_url = node.field_primary_image|file_url %}
            <div class="ratio ratio-1x1 bg-gray">
                {% include '@iwp_theme/includes/media_item--image_url.twig' with { 'img_url':image_url, 'label':node.bundle } %}
            </div>
        {% endblock %}
    </a>
    <div class="card-body p-0">
        {% block content %}
            <a href="{{ url }}">
                <h4>{{ label }}</h4>
            </a>
            {{ content|without('body', 'field_primary_image') }}
        {% endblock %}
    </div>
</div>