{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class
  ]
%}

<div{% block classes %}{{ attributes.addClass(classes) }}{% endblock %}>
    {% block image_wrapper %}
        <div class="d-inline-block ratio ratio-16x9">
            {% block image %}
                {{ content.field_primary_image }}
            {% endblock %}
        </div>
    {% endblock %}
    {% block pre_content %}
    {% endblock %}
    {% block content %}
        <div class="mt-4 mb-2">
            <span class="me-4">
                {{ node.getCreatedTime|format_date('navigation_date_format')|upper }} 
            </span>
            {% if content.field_ucanr_author['#items'] %}
                <span>
                    BY 
                    {% for item in content.field_ucanr_author['#items'] %}
                        {% if loop.first %}
                            {{ item.entity.label|upper}}
                        {% elseif loop.last %}
                            {{ ' AND ' ~ item.entity.label|upper}}
                        {% else %}
                            {{ ', ' ~ item.entity.label|upper}}
                        {% endif %}
                    {% endfor %}
                </span>
            {% endif %}
        </div>
        <h2 class="mt-4"><a class="{% block header_class %}{% endblock %}" href="{{ url }}" rel="bookmark">{{ label }}</a></h4>
        <div class="mt-3 mb-4">
            {{ content|without('body', 'field_primary_image') }}
        </div>
        <p class=>{{ content.body|render|striptags }}</p>
        <a class="{% block link_class %}{% endblock %}" href="{{ url }}" rel="bookmark">Learn More <span class="iconify" data-icon="mdi-arrow-right-thick"></span></a>
    {% endblock %}
</div>