{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    'row',
    'my-5'
  ]
%}

{% set taglistTemplate = '@ucanr/includes/taglist--base.twig' %}
<div{{ attributes.addClass(classes) }}>
    <div class="col-md-{% block left_col_width %}3{% endblock %}">
        {% block right_col %}
            <div class="ratio ratio-1x1 bg-gray">
                {% block image %}
                    {% if content.field_primary_image %}
                        {% include '@iwp_theme/includes/media_item--image.twig' with { 'image':content.field_primary_image, 'label':node.bundle } %}
                    {% endif %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <div class="col-md-{% block right_col_width %}9{% endblock %} d-flex flex-column justify-content-between">
        <div>
            {% block title_wrapper %}
                <div class="mb-2" style="line-height:1"><small class="text-red">
                    {% block sub_title %}
                        {{ node.created.value|date('F j, Y') }}
                    {% endblock %}
                </small></div>
                <h2{{ title_attributes.addClass(['h4', 'mb-1']) }}>
                    {% block title %}
                        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
                    {% endblock %}
                </h2>
            {% endblock %}
            {% block body %}
                <p>{{ node.body.0.value|striptags|truncate(200, true, '...')|raw }}</p>
            {% endblock %}
            {% block content %}
                {{ content|without(
                    'body',
                    'field_event_description', 
                    'field_abstract', 
                    'field_image_url', 
                    'field_primary_image', 
                    'field_content_format', 
                    'field_pmgurl', 
                    'field_start_date', 
                    'field_end_date') }}
            {% endblock %}
        </div>
        <div class="row">
            <div class="col-md-6">
                {% block view_link %}
                    <a href="{{ url }}" rel="bookmark">Read</a>
                {% endblock %}
            </div>
            <div class="col-md-6 text-md-end">
                {% block content_format %}
                    <span class="badge rounded-pill bg-secondary">{{ content.field_content_format[0]['#title'] }}</span>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
