{% set logo_id = style_id ? style_id : 'ce' %}
{% set logo_path = '/themes/contrib/iwp_theme/images/logos/' %}
{% set white_logo_ids = ['ce','4h','ipm'] %}

<div class="bg-anr py-5 mb-5 mb-lg-0">
    <h1 class="container d-flex align-items-center justify-content-center text-white">
        {% if logo_id in white_logo_ids %}
            <img style="width:60px" class="me-3 flex-shrink-0" src="{{ logo_path }}{{ logo_id }}_logo_white.svg"> 
        {% else %}
            <div class="ratio ratio-1x1 rounded bg-white me-3 flex-shrink-0" style="width:70px">
                <div class="p-1 d-flex align-items-center">
                    <img class="w-100" src="{{ logo_path }}{{ logo_id }}_logo.svg"> 
                </div>
            </div>            
        {% endif %}
        {{ title }}
    </h1>
</div>
