{% set date_time_prefix = 'From' %}
{% set start_date = start_date_time|date('j M Y') %}
{% set end_date = end_date_time|date('j M Y') %}
{% set start_time = start_date_time|date('g:ia') %}
{% set end_time = end_date_time|date('g:ia') %}

{% if start_date == end_date %}
    {% set date_time_prefix = start_date ~ ' from' %}
{% else %}
    {% set start_time = start_date ~ ', ' ~ start_time %}
    {% set end_time = end_date ~ ', ' ~ end_time %}
{% endif %}

{% set bg_color = invert ? 'tan' : 'anr' %}
{% set text_color = invert ? '' : 'text-white' %}
{% set btn_color = invert ? 'anr' : 'tan' %}

<div class="event-registration bg-{{ bg_color }} {% if img_url %}mt-30 pb-5{% else %}py-5{% endif %}">
    <div class="container">
        {% if img_url %}
            <div class="d-inline-block ratio ratio-16x9 mb-5 mt-n30">
                <img src="{{ img_url }}">
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-9">
                <table class="table table-borderless {{ text_color }}">
                    <thead>
                        <tr>
                            <th>DATE &amp; TIME</th>
                            <th>VENUE</th>
                            <th style="white-space: nowrap;">REGISTRATION FEE</th>
                        </tr>
                    </thead>
                    <tbody class="h4">
                        <tr>
                            <td>{{ date_time_prefix }} {{ start_time }} to {{ end_time }}</td>
                            <td>{{ venue| title }}</td>
                            <td>{{ ticket }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <div class="mt-2 {{ text_color }}">
                    {% if registration_url %}
                        {% set registration_text = registration_text ?: 'Register Now' %}
                        <a class="btn btn-lg btn-pill btn-{{ btn_color }} fw-bold" href={{ registration_url }}>{{ registration_text }}</a>
                    {% elseif registration_webform_url %}
                        {{ registration_webform_url }}
                    {% endif %}
                    <div class="mt-3">
                        {{ registration_deadline }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row {{ text_color }}">
            <div class="col-md-12 p-3">
                {% if in_person %}
                    <p class="h6">This is an in-person event</p>
                {% endif %}
                {% if in_person %}
                    <p class="h6">Certifications Available</p>
                {% endif %}
                {{ registration_info }}
            </div>
        </div>
    </div>
</div>
