{# potentially deprecated #}

{% extends '@ucanr/includes/hero-media-classes.twig' %}

{% block media %}
    <img src="{{ img_url }}" class="img-contrast {{ background_classes }} {{ additional_classes }}" style="filter:contrast(130%) saturate(90%)">
{% endblock %}