<div>
    <div class="ratio ratio-1x1 bg-gray">
        {% block image %}
            {% if image %}
                {% include '@iwp_theme/includes/media_item--image.twig' with { 'image':image, 'label':node.bundle } %}
            {% else %}
                {% include '@iwp_theme/includes/media_item--image_url.twig' with { 'img_url':image_url, 'label':node.bundle } %}
            {% endif %}
        {% endblock %}  
    </div>
    <div class="card-body p-0">
        <div class="text-center h-100 d-flex flex-column justify-content-between">
            <div>
                {% if display_mode in ['horizontal_list', 'vertical_list'] %}
                    <div class="text-red small my-4">
                        {{ node.created.value|date('F j, Y') }}
                    </div>
                {% endif %}
                <h4 class="min-height-l mt-4"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </h4>
            </div>
            <p class="pt-4"><a href="{{ url }}">Learn more <span class="iconify" data-icon="mdi-arrow-right-thick"></span></a></p>
        </div>
    </div>
</div>
