<div class="bg-anr py-6 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-tan">Join us on our mission</h1>
            </div>
            <div class="col-md-6 d-flex">
                <div class="col-md-11 text-tan d-flex justify-content-end">My application status</div>
                <span class="col-md-1 iconify text-tan d-flex" data-icon="mdi-arrow-right"></span></span>
            </div>
        </div>
    </div>
</div>