{% if img_url is not empty %}
    {% set image %}
        <img src="{{ img_url|raw }}" class="w-100 h-100 img-cover">
    {% endset %}
{% endif %}

{% include '@iwp_theme/includes/media_item--image.twig' with { 'image':image, 'label':label, 'img_url':img_url } %}