{# TODO: base this on content_format instead of content type #}
{% set content_icon_map = {
    'article': 'book-open-variant',
    '8000_series': 'book-open-variant',
    'document': 'file-document',
    'sitebuilder_page': 'card-search',
    'event': 'calendar',
    'live_event': 'calendar',
    'news_story': 'newspaper-variant',
    'podcast': 'podcast',
    'publication': 'book',
    'tools': 'hammer-screwdriver',
    'video': 'video',
    'wucols_plant': 'flower',
    'ucanr_people': 'account-multiple',
    'pest_management_guidelines': 'bug',
    'postharvest_fact_sheet': 'file-document'} %}

{% if image.0 is not empty or img_url is not empty %}
    {{ image }}
{% else %}
    <div class="d-flex justify-content-center align-items-center display-1">
        <span class="iconify" data-icon="mdi-{{ content_icon_map[label] }}"></span>
    </div>
{% endif %}
