{% if node.field_address.value %}
    <div class="d-flex mb-5">
        <span class="rounded-icon rounded-icon-lg bg-anr-dark text-gold me-3">
            <span class="iconify" data-icon="mdi-map-marker"></span>
        </span>
        <div class="flex-grow-1">
        {{  content.field_address }}
        </div>
    </div>
{% endif %}
{% if node.field_phone.value %}
    <div class="d-flex mb-5">
        <span class="rounded-icon rounded-icon-lg bg-anr-dark text-gold me-3">
            <span class="iconify" data-icon="mdi-phone"></span>
        </span>
        <div class="flex-grow-1">
        {{  content.field_phone }}
        </div>
    </div>
{% endif %}
{% if node.field_fax.value %}
    <div class="d-flex">
        <span class="rounded-icon rounded-icon-lg bg-anr-dark text-gold me-3">
            <span class="iconify" data-icon="mdi-fax"></span>
        </span>
        <div class="flex-grow-1 d-flex align-items-center">
        {{  content.field_fax }}
        </div>
    </div>
{% endif %}