{% set logo_id = style_id ? style_id ~ '_logo' : 'anr_logo_small' %}
{% set height = height ?: '80' %}

<img style="height:{{ height }}px; align-self:flex-start;" src="/themes/contrib/iwp_theme/images/logos/{{ logo_id }}.svg">