{% set title = title ? title : handle %}
<p><a class="d-flex align-items-center" href="{{ item_url }}" target="_blank" title="{{ 'Share to'|t }} {{ title }}" aria-label="{{ 'Share to'|t }} {{ title }}" rel="noopener">
    <span class="rounded-icon me-2">
        <span class="iconify" data-icon="mdi-{{ handle|lower }}"></span>
    </span> 
    <span class="flex-grow-1 d-flex align-items-center justify-content-between">{{ title }} <span class="iconify" data-icon="mdi-arrow-right-thick"></span></span>
</a></p>