{#
/**
 * @file
 * Bootstrap Barrio's override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, '') }}

{% macro menu_links(items, attributes, menu_level, parent_id) %}
  {% import _self as menus %}
  {% if items %}
    {% set bottom_level = true %}
    {% for item in items %}
      {% set bottom_level = not item.below %}
    {% endfor %}
    {% if menu_level == 0 %}
<ul{{ attributes.addClass(['nav', 'navbar-nav', 'mb-3', 'mb-lg-0']) }}>
  {% else %}
  <div class="dropdown-menu"><ul class="list-unstyled {% if bottom_level %}top-nav-cols-4{% endif %}">
      {% endif %}
      {% for item in items %}
        {%
          set classes = [
          menu_level ? 'nav-item-' ~ menu_level : 'nav-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'active',
          item.below ? 'dropdown position-static',
        ]
        %}
        <li{{ item.attributes.addClass(classes) }}>
          {%
            set link_classes = [
            not menu_level ? 'nav-link px-lg-2 mx-lg-1 text-white' : 'dropdown-item',
            item.in_active_trail ? 'active',
            item.below and menu_level == 0 ? 'dropdown-toggle',
            item.below and menu_level and not bottom_level ? 'submenu-toggle',
            item.url.getOption('attributes').class ? item.url.getOption('attributes').class | join(' '),
            'nav-link-' ~ item.url.toString() | clean_class,
          ]
          %}
          {% if item.below %}
            {{ link(item.title, item.url, {'class': link_classes, 'data-bs-toggle': 'dropdown', 'aria-expanded': 'false', 'aria-haspopup': 'true' }) }}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, item.title|replace({' ': ''})) }}
          {% else %}
            {#
            {% if menu_level and loop.index == 21 %}
                <ul class="collapse" id="collapse{{ attributes.id }}{{ parent_id }}">
            {% endif %}
            #}
            {{ link(item.title, item.url, {'class': link_classes}) }}
            {#
            {% if menu_level and loop.index > 20 and loop.last %}
                </ul>
                <a class="dropdown-item" data-bs-toggle="collapse" href="#collapse{{ attributes.id }}{{ parent_id }}" aria-expanded="false" aria-controls="collapse{{ attributes.id }}{{ parent_id }}">Show More</a>
            {% endif %}
            #}
          {% endif %}
        </li>
      {% endfor %}
    </ul>{% if menu_level > 0 %}</div>{% endif %}
  {% endif %}
  {% endmacro %}
