{#
/**
 * @file
 * Bootstrap Barrio's override to display Menu Account.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% set link_icon_map = {
      'login': 'account',
      'logout': 'account',
      'donate': 'gift',
      'myaccount': 'account'}
    %}

    {% if menu_level == 0 %}
      <div{{ attributes.addClass(['nav', 'mt-4', 'mt-lg-0']) }}>
        {% for item in items %}
          {%
            set classes = [
            'btn',
            'btn-sm',
            'btn-pill',
            loop.first ?: 'ms-2',
            loop.last ? 'btn-gold',
            loop.last ? 'text-anr',
            loop.last ?: 'btn-outline-gray',
            not loop.first ? '' : '',
            item.in_active_trail ? 'active',
            item.url.getOption('attributes').class ? item.url.getOption('attributes').class | join(' '),
            'nav-link-' ~ item.url.toString() | clean_class,
          ]
          %}
          {% set title = item.title|lower|replace({' ': ''}) %}
          <a href="{{ item.url }}" class="{{ classes|join(' ') }}">
            <span class="iconify" data-icon="mdi-{{ link_icon_map[title] }}"></span>
            {{ item.title|raw }}
          </a>
          {# link(item.title, item.url, {'class': classes}) #}
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}
{% endmacro %}
