{#
/**
 * @file
 * Bootstrap Barrio's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
  {% if site_logo or site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="navbar-brand me-5">
      {% if site_logo %}
        <img class="img-anr-logo img-anr-logo-portal d-none" src="/themes/contrib/iwp_theme/images/logos/portal_logo.png">
        <img class="img-anr-logo img-anr-logo-portal d-none" src="/themes/contrib/iwp_theme/images/logos/anr_logo.svg">
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="img-anr-logo img-anr-logo-color d-inline-block align-top" />
      {% else %}
        {{ site_name }}
      {% endif %}
    </a>
  {% endif %}
  {% if site_slogan %}
    <div class="d-inline-block align-top site-name-slogan">
      {{ site_slogan }}
    </div>
  {% endif %}
