// header 
.region-header-form {
    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: flex-end;


        > * {
            width: auto;
        }
    }

    @include media-breakpoint-up(lg) {
        .views-exposed-form {
            width: 75%;    
        }
    }
}

// navigation slider
.view-navigation-topics, .navigation {
    .text-tan a {
        @extend .text-tan;
    }
}

// ultimenu
/*
.is-ultimenu-expanded #page {
    overflow-y: hidden; // needed for Chrome
}

.is-ultimenu-canvas-backdrop, .is-ultimenu-canvas-off {
    z-index: 99!important;
}

.is-ultimenu-canvas--active .is-ultimenu-canvas-off {
    background: white!important;

    .navbar-brand {
        display: none;
    }
    
    .ultimenu__item {
        .dropdown-toggle::after {
            display: none;
        }
    }

    .region-header-form {
        @extend .mt-4;

        flex-direction: column;
    }

    .form-control, .btn {
        font-size: 1rem;
    }

    .menu--account {
        .nav {
            display: flex;
            flex-direction: column;
        }

        .btn {
            @extend .mt-4;
            @extend .ms-0;
        }
    }

    width: 100%;
    max-width: unset;

    @include media-breakpoint-up(sm) {
        width: 80%;
    }
}

#header .ultimenu--hover .ultimenu__flyout {
    min-width: 400px;
    padding: 0!important;
}

.ultimenu__region {
    padding: 0;

    .block {
        padding: 0;

        ul {
            padding: 0;

            ul li a {
                @extend .ps-5;
            }
        }

        div > ul, .view-footer {
            @extend .list-group;
            @extend .list-group-flush;
            @extend .list-group-plain;

            li {
                list-style-type: none;
                padding: 0;
            }

            a {
                @extend .list-group-item; 
                @extend .list-group-item-action;
                @extend .py-2;
                @extend .px-4;
                @extend .text-secondary;

                display: inline-block;
                width: 100%;
            }
        }

        &.block-views-blocklocation-program-menu-block-1 {
            //width: auto;

            .view-content > ul {
                @include media-breakpoint-up(md) {
                    //flex-wrap: wrap;
                    height: 700px;
                    overflow-y: scroll;
                }
            }
        }
    }
}
*/

// sidebar
.sidebar-label {
    @extend .pb-4;
    text-transform: uppercase;
    font-weight: bold;
}

.sidebar {
    .field__label {
        @extend .sidebar-label;
    }

    .field { //, .views-element-container .view {
        @extend .mb-5;
    }

    a {
        @extend .nav-link;
        padding-left: 0;
        padding-right: 0;
        display: block;
        color: $body-color;
        font-weight: normal;

        &:hover {
            color: lighten($body-color, 15%);
        }
    }

    // facets sidebar
    .block:not(.block-views-blocknavigation-page-owner-block-1) {
        @extend .mb-5;

        .js-facets-checkbox-links {
            list-style-type: none;
            padding: ($spacer * .5) 0 0;

            .facet-item {
                @extend .form-check;

                .facets-checkbox {
                    @extend .form-check-input;
                    @extend .me-2;
                    display: inline-block;
                }
                
                label {
                    @extend .form-check-label;
                    @extend .mb-2;
                }

                .facets-widget- {
                    ul {
                        padding-left: 0;
                        margin-left: -.5em;
                        list-style-type: none;

                        .facet-item {
                            margin: 0;
                        }
                    }
                }
            }
            
            &.expanded {
                max-height: 25em;
                overflow-y: scroll;
            }
        }

        fieldset.js-form-item {
            width: 100%!important;
        }
    }

    .block-facets-summary {
        .source-summary-count {
            @extend .mb-3;
            display: block;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }
    }

    h2 {
        @extend .sidebar-label;
        @extend .text-anr-dark;

        //margin: 0 0 ($spacer * .5);
        margin: 0;
        text-shadow: 0 $border-width 0 $white;
        font-size: 1rem;
        font-family: $font-family-sans-serif;
        line-height: $headings-line-height;
    }

    tbody {
        border: none;
    }

    tr.even,
    tr.odd {
        background: none;
        border-bottom: $border-width solid $border-color;
    }
}

/*
$menu-height: 410px;

#block-ucanr-edu-main-menu .mega-menu {
    @extend .bg-dark;
    @extend .rounded-0;
    @extend .rounded-start;
    @extend .border-dark;
    height: $menu-height;

    & > li > .dropdown-item {
        @extend .text-white;

        &:hover {
           background-color: $gray-700;
        }
    }

    .dropdown-item {
        @extend .py-2;
    }

    .dropdown-menu {
        @extend .rounded-0;
        @extend .rounded-end;
        @extend .border-dark;
        height: $menu-height;
        overflow-y: scroll;
        width: 20em;

        .dropdown-item {
            white-space: normal;
        }

        &.submenu {
            top: -1px;
            left: 100%;
        }
    }
}
*/

// Left menu
#block-mainnavigation {
    .dropdown-menu {
        position: static;
        display: block;
        padding-left: 1rem;
        border: 0;
        a.dropdown-item.active {
            background-color: transparent;
            color: #495057;
            font-weight: bold;
        }
    }
}