/**
 * @file
 * Styles for Bartik's modal windows
 */

.ui-widget-overlay {
    background: $black;
    opacity: 0.7;
}

.ui-dialog {
    font-family: inherit;
    padding: 0;
    @extend .modal-content;

    input, button {
        font-family: inherit;
    }

     & &-titlebar {
        @extend .modal-header;
        
        height: 6.25em;
        background: #00458D;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        margin-bottom: 1em;
        //border-top-left-radius: 1rem;
        //border-top-right-radius: 1rem;

        &:before, &::after {
            display: none;
        }

        &-close {
            
            padding-right: 4em !important;
            position: static;
            //width: 1.5rem;
            //height: 1.5rem;
            right: unset;
            top: unset;
            background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1.75em auto no-repeat;
            @extend .btn-close;

            //&::before {
             //   content: "\00d7";
              //  text-indent: 0;

                //@extend .close;
            //}
        }
    }

    .ui-button-icon, .ui-button-icon-space {
        display: none;
    }

    & &-title {
        //@extend .h4;
        @extend .modal-title;
        color: #E4D8B4;
        font-size: 2em;
        font-family: "Libre Baskerville",serif;
        font-weight: bold;
        padding-left: 1rem;
    }

    & &-content {
        padding-left: 2em;
        padding-right: 2em;
    }

    & &-buttonpane {
        background: none;

        .btn {
            @extend .ms-2;
            margin-right: 0;
        }
    }
}


.ui-dialog-content legend {
    font-size: 1em;
    font-weight: bold;
}

.ui-dialog input,
.ui-dialog select,
.ui-dialog textarea {
    font-size: $font-size-base;
    background: #F7F9FB;
    border: 1px solid #CBD5E1;
    box-sizing: border-box;
    border-radius: 4px;
}

.ajax-throbber.sk-wave {
    width: 60px!important;
}
  
.ajax-throbber.sk-wave .sk-rect {
    background-color: $anr-blue-dark!important;
    width: 8px;
}


.ui-dialog .button {
    background-color: #01458e;;
    //background-image: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
    //background-image: linear-gradient(to bottom, #f3f3f3, #e8e8e8);
    border: 1px solid #e4e4e4;
    border-bottom-color: #b4b4b4;
    border-left-color: #d2d2d2;
    border-right-color: #d2d2d2;
    color: #ffffff;
    cursor: pointer;
    font-size: $font-size-base;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 2em;
}