{{ attach_library('better_social_sharing_buttons/styling') }}

{% if items.width %}
    {% set width = items.width ? 'width=' ~ items.width ~'' %}
{% endif %}

{% if items.height %}
    {% set height = items.height ? 'height=' ~ items.height ~'' %}
{% endif %}

{% if items.radius %}
    {% set radius = items.radius ? 'style=border-radius:' ~ items.radius ~';' %}
{% endif %}

{# --- Include svg sprite --- #}
<div style="display: none">{% include social_buttons_sprite %}</div>

<div>
    <!-- Facebook share button -->
    {% if items.services.facebook %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"https://www.facebook.com/sharer/sharer.php?u=#{ items.page_url|render }&title=#{ items.title }", 'handle':'Facebook', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Twitter share button -->
    {% if items.services.twitter %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"http://twitter.com/intent/tweet?text=#{ items.title }+#{ items.page_url|render }", 'handle':'Twitter', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- WhatsApp share button -->
    {% if items.services.whatsapp %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"https://wa.me/?text=#{ items.page_url|render }", 'handle':'WhatsApp', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Facebook Messenger share button -->
    {% if items.services.facebook_messenger %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"http://www.facebook.com/dialog/send?app_id=#{ items.facebook_app_id }&link=#{ items.page_url|render }&redirect_uri=#{ url('<current>') }", 'title':'Facebook Messenger', 'handle':'messenger', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Pinterest share button -->
    {% if items.services.pinterest %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"http://pinterest.com/pin/create/link/?url=#{ items.page_url|render }&description=#{ items.title }", 'handle':'Pinterest', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Linkedin share button -->
    {% if items.services.linkedin %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"http://www.linkedin.com/shareArticle?mini=true&url=#{ items.page_url|render }&title=#{ items.title }&source=#{ items.base_url|render }", 'handle':'Linkedin', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Google+ share button -->
    {% if items.services.googleplus %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"https://plus.google.com/share?url=#{ items.page_url|render }", 'title': 'Google+', 'handle':'googleplus', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Digg share button -->
    {% if items.services.digg %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"http://www.digg.com/submit?phase=2&url=#{ items.page_url|render }&title=#{ items.title }", 'handle':'Digg', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- StumbleUpon share button -->
    {% if items.services.stumbleupon %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"http://www.stumbleupon.com/submit?url=#{ items.page_url|render }&title=#{ items.title }", 'handle':'StumbleUpon', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Delicious share button -->
    {% if items.services.delicious %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"http://del.icio.us/post?url=#{ items.page_url|render }&title=#{ items.title }&notes=#{ items.description }", 'handle':'Delicious', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Slashdot share button -->
    {% if items.services.slashdot %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"http://slashdot.org/bookmark.pl?url=#{ items.page_url|render }&title=#{ items.title }", 'handle':'Slashdot', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Tumblr share button -->
    {% if items.services.tumblr %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"http://www.tumblr.com/share?v=3&u=#{ items.page_url|render }&t=#{ items.title }", 'handle':'Tumblr', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Reddit share button -->
    {% if items.services.reddit %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"http://www.reddit.com/submit?url=#{ items.page_url|render }&title=#{ items.title }", 'handle':'Reddit', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Evernote share button -->
    {% if items.services.evernote %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"http://www.evernote.com/clip.action?url=#{ items.page_url|render }&title=#{ items.title }", 'handle':'Evernote', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Email share button -->
    {% if items.services.email %}
        {% include '@iwp_theme/includes/social-sharing-button.twig' with { 'item_url':"mailto:?subject=#{ items.title }&body=#{ items.page_url|render }", 'handle':'Email', 'width':width, 'height':height, 'radius':radius } %}
    {% endif %}

    <!-- Copy link share button -->
    {% if items.services.copy %}
        {{ attach_library('better_social_sharing_buttons/copy-current-url') }}
        <button class="btnCopy social-sharing-buttons__button">
            <svg {{ width }} {{ height }} {{ radius }}>
                <use xlink:href="{{ social_buttons_sprite }}#copy" />
            </svg>
            <div class="social-sharing-buttons__popup">{{ 'Copied to clipboard'|t }}</div>
        </button>
    {% endif %}
</div>