{#
/**
 * @file
 * Default theme implementation for a facets summary item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see facets_summary_preprocess_facets_summary_item_list()
 *
 * @ingroup themeable
 */
#}
{% if context.list_style %}
  {%- set attributes = attributes.addClass('item-list__' ~ context.list_style) %}
{% endif %}
{% if items or empty %}
  {%- if title is not empty -%}
    <h3>{{ title }}</h3>
  {%- endif -%}

  {%- if items -%}
    {% set reset_link = '' %}
    <{{ list_type }}{{ attributes }}>
      {%- for item in items -%}
        {% if 'facet-summary-item--clear' in item.value['#wrapper_attributes']['class'] %}
            {% set reset_link %}
                <li{{ item.attributes.addClass('text-danger') }}>
                    {# just use route name without parameters for url, to clear search as well #}
                    <a href="{{ url(item.value['#url'].routeName) }}">
                        <span class="iconify" data-icon="mdi-close-circle"></span>
                        {{ item.value['#title'] }}
                    </a>
                </li>
            {% endset %}
        {% else %}
            <li{{ item.attributes }}>{{ item.value }}</li>
        {% endif %}
      {%- endfor -%}
      {# move reset link to the end #}
      {{ reset_link }}
    </{{ list_type }}>
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{% else %}
    <p>None selected</p>
{%- endif %}
