{% extends "@iwp_theme/components/container--partial_width_fluid.twig" %}

{% block content %}
    <div class="{% block content_col_classes %}col-md-8 pe-md-6{% endblock %}">
        <h2 class="mb-4 border-bottom-gold-bar">
            {% block title %}{% endblock %}
        </h2>
        {% block body %}
        {% endblock %}
    </div>
    <div class="{% block img_col_classes %}col-md-4{% endblock %}">
        <div class="ratio ratio-{% block image_ratio %}21x9{% endblock %} w-md-350">
            {% block image %}
                <img alt="About Program" src="/themes/contrib/iwp_theme/images/county/about_county.jpg">
            {% endblock %}
        </div>
    </div>
{% endblock %}