{% extends "@iwp_theme/components/container--partial_width_fluid.twig" %}

{% block column_classes %}offset-md-3 col-md-9{% endblock %}
{% block container_position %}end{% endblock %}

{% block content %}
     <div class="{% block img_col_classes %}col-md-4 position-relative{% endblock %}">
        <div class="ratio ratio-16x9 position-md-absolute w-md-200" style="right:0;">
            {% block image %}
                <img alt="About Program" src="/themes/contrib/iwp_theme/images/county/about_county.jpg">
            {% endblock %}
        </div>
    </div>
    <div class="{% block content_col_classes %}col-md-8 ps-6 pt-4 pt-md-0{% endblock %}">
        <h2 class="mb-4 border-bottom-gold-bar">
            {% block title %}{% endblock %}
        </h2>
        {% block body %}
        {% endblock %}
    </div>                 
{% endblock %}