<div class="overflow-hidden {% block classes %}{% endblock %}">
    <div class="container">
        <div class="row">
            <div class="{% block column_classes %}col-md-8{% endblock %}">
                <div class="bg-{% block background_color %}anr{% endblock %} text-white fluid-md-{% block container_position %}start{% endblock %} py-6">
                    <div class="row">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>