<div class="container py-5 my-1">
    <div class="row">
        <div class="col-md-6">
            {% block title %}
            {% endblock %}
        </div>
        <div class="col-md-6">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <div class="mt-5">
        {% block image %}
        {% endblock %}
    </div>
</div>